header{
    background: #BBBBBB;
    padding: 20px 0;
}

.cabecalho{
    position: relative;
    width: 940px;
    margin: 0 auto ;
}

nav ul{
    position: absolute;
    right: 0;
    top: 110px;
}

nav ul li{
    padding-left: 15px;
    display: inline-block;
}

nav a{
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
}

nav a:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.produtos{
    width: 940px;
    margin:0 auto;
    padding: 50px 0;
}

.produtos li{
    position: relative;
    display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.25%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover{
    border-color: #C17C18;
}

.produtos li:active{
    border-color: #BBBBBB;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos li h2{
    font-size: 30px;
    font-weight: bold;
}

.prod_desc{
    font-size: 18px;
}

.prod_preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    padding: 40px 0;
    text-align: center;
    background: url(../img_produto/bg.jpg);
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}