header{
    background: #BBBBBB;
    padding: 20px 0;
}

.cabecalho{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.cabecalho h1{
    display: inline-block;
}

nav ul{
    position: absolute;
    right: 0;
    top: 110px;
}

nav ul li{

    display: inline-block;
    margin-left: 15px;
}

nav a{
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


.banner{
    width: 100%;
    display:block;
    margin: 0 auto;
}

main{
    margin: 2px 0 10px 0;
    background: #CCCCCC;
    padding:15px 0;
    text-align: center;
}

main h2{
    padding: 5px 0;
    font-size: 22px;
    font-weight: bold;
}

main p{
    padding: 15px 0;
}

.textinho{
    font-weight: bold
}

main p em {
    font-size: 20px;
    font-style: italic;
}

.textao{
    font-weight: bold;
    color: red;
}

.beneficios h2{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding: 15px 0;
}

.beneficios ul{
    list-style-type: circle;
    list-style: circle;
    margin-right: 15%;
    width: 20%;
    vertical-align: top;
    display: inline-block;
}

.beneficios img{
    width: 50%;
}